Processing /wheels/Flask-1.1.2-py2.py3-none-any.whl
Processing /wheels/Jinja2-2.11.3-py2.py3-none-any.whl
Processing /wheels/MarkupSafe-1.1.1-cp38-cp38-manylinux2010_x86_64.whl
Processing /wheels/Pillow-8.1.0-cp38-cp38-manylinux1_x86_64.whl
Processing /wheels/PyYAML-5.4.1-cp38-cp38-manylinux1_x86_64.whl
Processing /wheels/Werkzeug-1.0.1-py2.py3-none-any.whl
Processing /wheels/click-7.1.2-py2.py3-none-any.whl
Processing /wheels/cycler-0.10.0-py2.py3-none-any.whl
Processing /wheels/gevent-21.1.2-cp38-cp38-manylinux2010_x86_64.whl
Processing /wheels/greenlet-1.0.0-cp38-cp38-manylinux2010_x86_64.whl
Processing /wheels/imutils-0.5.4-py3-none-any.whl
Processing /wheels/itsdangerous-1.1.0-py2.py3-none-any.whl
Processing /wheels/kiwisolver-1.3.1-cp38-cp38-manylinux1_x86_64.whl
Processing /wheels/matplotlib-3.3.4-cp38-cp38-manylinux1_x86_64.whl
Processing /wheels/numpy-1.20.1-cp38-cp38-manylinux2010_x86_64.whl
Processing /wheels/opencv_python_headless-4.5.1.48-cp38-cp38-manylinux2014_x86_64.whl
Processing /wheels/paho_mqtt-1.5.1-py3-none-any.whl
Processing /wheels/peewee-3.14.1-py3-none-any.whl
Processing /wheels/psutil-5.8.0-cp38-cp38-manylinux2010_x86_64.whl
Processing /wheels/pyparsing-2.4.7-py2.py3-none-any.whl
Processing /wheels/python_dateutil-2.8.1-py2.py3-none-any.whl
Processing /wheels/scipy-1.6.1-cp38-cp38-manylinux1_x86_64.whl
Processing /wheels/setproctitle-1.2.2-cp38-cp38-manylinux1_x86_64.whl
Processing /wheels/setuptools-53.0.0-py3-none-any.whl
Processing /wheels/six-1.15.0-py2.py3-none-any.whl
Processing /wheels/zope.event-4.5.0-py2.py3-none-any.whl
Processing /wheels/zope.interface-5.2.0-cp38-cp38-manylinux2010_x86_64.whl
